@import "tailwindcss";

@layer utilities {
  @media (min-width: 960px) {
    .xmd\:h-\[85vh\] {
      height: 85vh;
    }
  }
  @media (min-width: 1024px) {
    .lg\:h-\[94vh\] {
      height: 94vh !important;
    }
  }
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For inputs with dark background */
.input-autofill-dark:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 1) inset !important;
  -webkit-text-fill-color: white !important;
}

/* For inputs with light background */
.input-autofill-light:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
