@import "tailwindcss";

@layer utilities {
  @media (min-width: 960px) {
    .xmd\:h-\[85vh\] {
      height: 85vh;
    }
  }
  @media (min-width: 1024px) {
    .lg\:h-\[94vh\] {
      height: 94vh !important;
    }
  }
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* input:-webkit-autofill {
  background-color: transparent !important;
  color: white !important;
  transition: background-color 9999s ease-in-out 0s;
} */
/* For inputs with dark background */
.input-autofill-dark:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 1) inset !important;
  -webkit-text-fill-color: white !important;
}

/* For inputs with light background */
.input-autofill-light:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

@keyframes rotate-fade {
  0% {
    opacity: 0.8;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(2.5) rotate(360deg);
  }
}
